*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width:100%;
    height:72px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

nav ul{
    width:100%;
    height:100%;
    display: flex;
    gap:30px;
    align-items: center;
    justify-content: center;

}

nav ul li{
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color:black;
 

}

nav ul li a:hover{
    color:rgb(79, 79, 251);
    font-size: 24px;
    
}
